In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import missingno as msno
from sklearn.preprocessing import LabelEncoder
import seaborn as sns

In [2]:
import pandas as pd
import numpy as np

# Sample data
data = {'v1': np.random.randint(1, 1000, 10)}  # 10 random integers between 1 and 1000
df = pd.DataFrame(data)

# Use qcut to split into 3 groups based on quantiles
df['v2'] = pd.qcut(df['v1'], q=3, labels=['group1', 'group2', 'group3'])

print(df)

    v1      v2
0  804  group3
1  357  group1
2  969  group3
3  697  group2
4  439  group2
5  366  group1
6  450  group2
7  849  group3
8  193  group1
9  740  group3

In [3]:
# Use cut to segment values into specific bins
df['v2'] = pd.cut(df['v1'], bins=[1, 100, 250, np.inf], labels=['group1', 'group2', 'group3'])

print(df)

    v1      v2
0  804  group3
1  357  group3
2  969  group3
3  697  group3
4  439  group3
5  366  group3
6  450  group3
7  849  group3
8  193  group2
9  740  group3

In [5]:
data = {'v1': [10, 20, 20, 40, 50, 50, 50, 80, 100, 100]}
df = pd.DataFrame(data)

df['w'] = pd.qcut(df['v1'],q=3,labels=['r','t','y'])
df

    v1  w
0   10  r
1   20  r
2   20  r
3   40  t
4   50  t
5   50  t
6   50  t
7   80  y
8  100  y
9  100  y

In [6]:
df['p'] = pd.cut(df['v1'],bins=[1,2,3, np.inf], labels=['u','k','v'])

In [ ]:
df['ll'] = pd.qcut(df['j'], q =7 , labels =[)

In [ ]:
df['o']= pd.cut['','']